.crew-bg {
  background-image: url("../../assets/crewbg.webp");
  width: 100%;
  /* height: 100vh; */
  position: relative;
  background-repeat: repeat-y;
  background-color: rgb(13, 15, 22);
  background-position: center;
}

.glassmorphic-crew {
  background: rgba(219, 219, 219, 0.1);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.fadeeffect::before,
.fadeeffect::after {
  background: linear-gradient(
    to bottom,
    rgb(13, 15, 22) 0%,
    rgba(13, 15, 22, 0) 100%
  );
  content: "";
  height: 50px;
  width: 100%;
  z-index: 2;
}
.fadeeffect::after {
  top: 0;
  transform: rotateZ(180deg);
}
.fadeeffect::before {
  bottom: 0;
}
