.crew-bg {
  background-image: url("../../assets/crewbg.webp");
  width: 100%;
  /* height: 100vh; */
  position: relative;
  background-repeat: repeat-y;
  background-color: rgb(13, 15, 22);
  background-position: center;
}

.glassmorphic-crew {
  background: rgba(219, 219, 219, 0.1);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.fadeeffect::before,
.fadeeffect::after {
  background: linear-gradient(
    to bottom,
    rgb(13, 15, 22) 0%,
    rgba(13, 15, 22, 0) 100%
  );
  content: "";
  height: 70px;
  width: 100%;
  z-index: 2;
}
.fadeeffect::after {
  top: 0;
  transform: rotateZ(180deg);
}
.fadeeffect::before {
  bottom: 0;
}

.my__splide__pagination {
  position: relative;
  padding-top: 2%;
}

.my__splide__pagination__page {
  background-color: white !important;
}

.splide__arrows svg {
  fill: white !important;
  border: 1px white solid;
  border-radius: 10px;
  padding: 6px;
}

@media (min-width: 1600px) {
  .your-class-next,
  .your-class-prev {
    margin-top: 2% !important;
  }
}

@media (max-width: 1100px) {
  .your-class-next,
  .your-class-prev {
    margin-top: -8% !important;
  }
}

@media (max-width: 1000px) {
  .your-class-next,
  .your-class-prev {
    margin-top: -10% !important;
  }
}

@media (max-width: 800px) {
  .your-class-next,
  .your-class-prev {
    display: none !important;
  }
}

/* @media (max-width: 650px) {
  .your-class-next,
  .your-class-prev {
    margin-top: -20% !important;
  }
}

@media (max-width: 600px) {
  .your-class-next,
  .your-class-prev {
    margin-top: -10% !important;
  }
}

@media (max-width: 500px) {
  .your-class-next,
  .your-class-prev {
    margin-top: -40% !important;
  }
}

@media (max-width: 400px) {
  .your-class-next,
  .your-class-prev {
    margin-top: -42% !important;
  }
}

@media (max-width: 360px) {
  .your-class-next,
  .your-class-prev {
    margin-top: -47% !important;
  }
}

@media (max-width: 331px) {
  .your-class-next,
  .your-class-prev {
    margin-top: -117% !important;
  } 
}*/
