.crew-arrows svg {
  fill: #ffffff;
}

.swiper {
  width: 90%;
  height: 100%;
  margin: 5% 0;
  /* border: 1px white solid; */
  border-radius: 16px;
  background: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  height: auto;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 1px;
  stroke: white;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper-button-next,
.swiper-button-prev {
  right: 10px;
  padding: 30px;
  color: #ffffff !important;
  fill: rgb(255, 255, 255) !important;
  stroke: rgb(255, 255, 255) !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}
.swiper-pagination-bullet {
  background-color: rgb(55, 55, 55);
  opacity: 1;
}

@media (max-width: 650px) {
  .swiper {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -15%;
  }
}

@media (max-width: 850px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -17%;
  }
  .swiper {
    padding-bottom: 5%;
  }
}

@media (max-width: 650px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -20%;
  }
}

@media (max-width: 600px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -15%;
  }
}

@media (max-width: 500px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -20%;
  }
}

@media (max-width: 331px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -60%;
  }
}
