.content {
  font-size: 1rem;

  opacity: 0.8;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0, 1, 0, 1);
}
.content.show {
  height: auto;
  max-height: 999.9rem;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
