.pixel-bg {
  background-image: url("./pixel.png");
  /* width: 100%; */
  height: 500px;
  position: relative;
  /* background-repeat: repeat-y; */
  background-position: center;
  background-size: cover;
}

.pixel-bg::before,
.pixel-bg::after {
  background: linear-gradient(
    to bottom,
    rgb(13, 15, 22) 0%,
    rgba(13, 15, 22, 0.2) 100%
  );
  content: "";
  height: 150px;
  width: 100%;
  z-index: 2;
}
.pixel-bg::after {
  top: 0;
  transform: rotateZ(180deg);
}
.pixel-bg::before {
  bottom: 0;
}

/* .splide__arrows .splide__arrow--prev {
  fill: white !important;
  border: 1px white solid;
  border-radius: 10px;
  padding: 6px;
}

.splide__arrows .splide__arrow--next {
  fill: white !important;
  border: 1px white solid;
  border-radius: 10px;
  padding: 6px;
} */

.custom-prev-button {
  left: 80px;
  transform: translateX(-50%);
}

.custom-next-button {
  right: 80px;
  transform: translateX(50%);
}

.custom-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0);
  padding: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

@media (max-width: 820px) {
  .custom-nav-button {
    display: none;
  }
}