@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Media query for responsive text size and padding */
@media (max-width: 768px) {
  .hero p {
    /* font-size: 2rem; */
    padding: 10px 10px;
  }
}


/*!* Cursor style *!*/
/*.cursor {*/
/*    width: 3px;*/
/*    height: 30px;*/
/*    background-color: #737373;*/
/*    display: inline-block;*/
/*    margin-left: 3px;*/
/*    animation: blink 1s infinite;*/
/*}*/

/* Add this CSS class to style the grey cursor */
.cursor-grey {
    color: grey; /* Change the color to grey or any other color you prefer */
}

/* Hero.css */

/* Container for "Powered by" text and logo with glassmorphic background */
.powered-by-container {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px); /* Adjust the blur value as needed */
    border-radius: 10px; /* Adjust the border radius as needed */
    padding: 10px; /* Adjust the padding as needed */
    display: inline-flex; /* Keep the container inline with its content */
    align-items: center; /* Center the content vertically */
}




/* Hero.css */
.text-glow {
    text-shadow: 0 0 30px rgba(12, 202, 74, 0.8); /* Adjust the color and intensity as needed */
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(12, 202, 74, 0.8); /* Adjust the color and intensity as needed */
    }
    100% {
        text-shadow: 0 0 20px rgba(12, 202, 74, 0.8); /* Adjust the color and intensity as needed */
    }
}










