/* expanding underline on hover */
.underline-hover {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #c3dcd9;
}

.underline-hover::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #4460ad;
  bottom: 0;
  left: 50%;
  /* start the line from the middle of the text */
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.underline-hover:hover::before {
  /* Expand the line to both sides */
  width: 100%;
}

/* Menu Button */
.menu-button {
  cursor: pointer;
  color: white;
  font-size: 24px;
  filter: drop-shadow(-3px -3px 2px #003366)
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2))
    drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}

.menu-button:hover {
  transform: scale(1.1);
}

.dropdown-menu {
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;

  text-align: right; /* Align the text to the left */

  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.menu-item {
  color: white;
  font-weight: 600;
}

.mobile-nav {
  font-size: 20px;
}
