.ti-bg{
	background-image: url("/Images/timeline.svg");
	background-repeat: no-repeat;
	background-position: 205px 10px;
}
  .title {
	font-size: 15em;
	text-align: center;
	font-family: "Bebas Neue", sans-serif;
  }
  
  h3 {
	padding-top: 0.25em;
  }
  
  .vertical-timeline-element-content {
	/* box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
	  0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important; */
	  box-shadow: none !important;
	  padding: 16px !important;
  }
  
  .date {
	color: rgb(232, 237, 237);
  }
  
  #description {
	margin: 1.5em 0 4em 0;
  }
  
  @media only screen and (max-width: 1700px) {
	.vertical-timeline-element-date {
	  display: block !important;
	  float: none !important;
	  color: rgb(44, 44, 44);
	  margin-top: 1.5em;
	}
  }

 