* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.crewCard {
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --main-color: #fefefe;
  max-width: 300px;
  height: 300px;
  border: 2px solid var(--main-color);
  /* box-shadow: 4px 4px var(--main-color); */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 3% 0;
}

.membercard {
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --main-color: #fefefe;
  max-width: 300px;
  height: 270px;
  border: 2px solid var(--main-color);
  /* box-shadow: 4px 4px var(--main-color); */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 3% 0;
}
.card-photo {
  max-width: 200px;
  margin-top: 0;
  background: transparent;
  margin: 5% 10%;
  display: flex;
  justify-content: center;
  /* background-image: linear-gradient(
    to bottom,
    transparent 40%,
    rgb(255, 255, 255) 60%
  ); */
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.card-photo img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.card-title {
  text-align: center;
  color: var(--font-color);
  font-size: 25px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-subtitle {
  font-size: 16px;
  font-weight: 300;
  margin-top: -10px;
}

.card-socials {
  display: flex;
  height: 0;
  opacity: 0;
  margin-top: 5px;
  gap: 20px;
  transition: 0.5s;
}

.card-socials-btn {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.card-socials-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
}

.crewCard:hover > .card-socials {
  opacity: 1;
  height: 35px;
}

.membercard:hover > .card-socials {
  opacity: 1;
  height: 35px;
}

.card-socials-btn:hover {
  /* transform: translateY(-5px); */
  transform: scale(1.5);

  transition: all 0.15s;
}

.crewCard:hover .card-photo {
  transition: ease-in-out 0.3s;
  transform: scale(1.05);
}
.membercard:hover .card-photo {
  transition: ease-in-out 0.3s;
  transform: scale(1.05);
}

.glassmorphic-card {
  background: rgba(194, 199, 205, 0.2);

  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media (max-width: 600px) {
  .crewCard {
    max-width: 150px;
    height: 250px;
    /* border: 1px solid var(--main-color); */

    padding: 0% 0;
  }

  .membercard {
    max-width: 150px;
    height: 200px;
    /* border: 1px solid var(--main-color); */

    padding: 0% 0;
  }

  .card-photo {
    max-width: 200px;
    margin-top: 0;
    background: transparent;
    margin: 5% 10%;
    display: flex;
    justify-content: center;
    object-fit: cover;
    /* background-image: linear-gradient(
      to bottom,
      transparent 40%,
      rgb(255, 255, 255) 60%
    ); */
    border-radius: 16px;
    background: rgb(255, 255, 255);
  }
  .card-photo img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
  }

  .card-title {
    font-size: 16px;
  }
  .card-subtitle {
    font-size: 12px;
  }
}
