@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Ubuntu", sans-serif !important; */
  font-family: "Fira Code", monospace;
}

* {
  scroll-behavior: smooth;
  scrollbar-width: normal;
  scrollbar-color: #87ceeb, #003366;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #87ceeb;
}
::-webkit-scrollbar-thumb {
  background-color: #003366;
  border-radius: 1rem;
  border: 2px solid transparent;
  background-clip: content-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
