@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
  scrollbar-width: normal;
  scrollbar-color: #87ceeb, #003366;
}

/* background */
body {
  margin: 0;
  padding: 0;
  background: #0d0f16;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #0d0f16;
}
::-webkit-scrollbar-thumb {
  background-color: #003366;
  border-radius: 1rem;
  border: 2px solid transparent;
  background-clip: content-box;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.bg-particpants {
  /* background-color: #0d0f15;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23fcfcfc' fill-opacity='0.09' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
